<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://images.ctfassets.net/ihx0a8chifpc/GTlzd4xkx4LmWsG1Kw1BB/ad1834111245e6ee1da4372f1eb5876c/placeholder.com-1280x720.png?w=1920&q=60&fm=webp"
            alt="" height="200px">
    </div>
    <a href="">
        <div class="big-card__title">
            <h1>Saiu a nova versão do Angular</h1>
        </div>
    </a>
    <a href="">
        <div class="big-card__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat ac dolor non auctor. Phasellus
                enim
                sem, finibus quis lacus non, gravida condimentum metus.</p>
        </div>
    </a>


</div>